* {
    color: aqua;
}
/* 전체 선택자 (*) : 모든요소를 선택하는 선택자 */
/* 폰트크기, 글꼴 등을 넣을때 사용 */

h1 {
    color: red;
}
p {
    color: green;
}
/* 타입 선택자 : 특정 태그명을 가진 요소를 선택 */
/* p태그 안에 다른태그가 있을경우
    다른태그는 전체선택자가 우선으로 적용 */



/* 클래스 선택자 (.) : 모든태그들에는 class라는
    속성을 적을 수 있음.
    클래스에 우리가 원하는 이름을 지어줌.
    여러개도 줄 수 있음.
    클래스 명을 지정한 부분에 스타일 적용
    !!내가만든고유의 스타일을 하나의 클래스로 지정 후
    html에 그 클래스명을 적용하는 방법이 주됨. */
.color-orange {
    color: orange;
}    
.font-size-3rem {
    font-size: 3rem;
}
.color-black {
    color: black;
}

/* id선택자 (#) : id속성으로 접근하는 방법
    id를 이용해서 한구역에만 스타일을 주고싶을때 */
#p-2 {
    color: purple;
}

/* 그룹선택자 (,) : 여러개의 태그에 같은효과 줄때
    클래스, id선택자도 여기 사용가능 */
h1, p, #p-2 {
    color: brown;
}

/* 위 모든 선택자를 기본선택자 라고 함. */